mkdocs
mkdocs-custommill
mkdocs-material
mkdocs-material-extensions
python-markdown-math
pymdown-extensions
ipykernel
pip
openai
dotenv
cchardet
scikit-learn
torch
panel
llama-index
llama-index-llms-llamafile
llama-index-embeddings-llamafile
langchain
langchain-openai
langchain-community
langchain_google_genai
opencv-python
soundfile
SpeechRecognition